{% extends 'base.html' %}

{% block content %}
  <br>
  <hr style='border: inset 5px #63C6DB; border-radius: 50px'>
    <div class='font4' style='height:50px'>
      <div style="width:20%; float: left; text-align: center;">
        {{ review.user }}
      </div>
      <div style="width:60%; float: left; text-align: center;">
        {{ review.created_at }}
      </div>
      <div style="width:20%; float: right; text-align: center;">
        <form class="like-form" data-review-id="{{ review.pk }}">
          {% csrf_token %}
          {% if user in review.like_users.all %}
            <button class="btn btn-transparent" id="like-{{ review.pk }}"><i class="fa fa-heart" id="itag" style="color:#4089E1;"> Cancle</i></button>
          {% else %}
            <button class="btn btn-transparent" id="like-{{ review.pk }}"><i class="fa fa-heart-o" id="itag"  style="color:#4089E1;"> Like</i></button>
          {% endif %}
        </form>
      </div>
    </div>
    <div style="clear:both"></div>
    <div class='font4' style='height:30px'>
      <div style="width:20%; float: left; text-align: center;">
        &nbsp;&nbsp;{{ review.classification }}
      </div>
      <div style='width:80%; float: right; text-align: right;'>
        <span id="like-count-{{ review.pk }}">
          {{ review.like_users.all|length }}
        </span>
      명이 이 글을 좋아합니다.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  <hr>
  <br>
  <h2 class="text-center fw-light font3" style='color: #008C8C;'><b>{{ review.title }}</b></h2>
  <br>
  <p class='fs-5 fw-light font4'>{{ review.content|linebreaksbr }}</p>
  <br><br><br><br><br><br>
  <p align='right' class='font4'>last update : {{ review.updated_at}}</p>
  {% if user == review.user %}
    <div class='d-flex justify-content-end'>
      <a href="{% url 'community:update' review.pk %}" type='btn' class='btn btn-outline-secondary font4 mb-4 d-inline-block'>수정하기</a>
      &nbsp;
      <form action="{% url 'community:delete' review.pk %}" method="POST" class='d-inline-block'>
      {% csrf_token %}
      <input type="submit" class='btn btn-outline-secondary font4 mb-4' value="삭제하기">
      </form>
    </div>
  {% endif %}
  <hr style='border: outset 5px #63C6DB; border-radius: 50px'>
  <h4 class='fw-bold d-inline font3'>댓글</h4>
  {% if comments|length %}
    <p class='d-inline font3'>({{ comments|length }})</p>
  {% endif %}
  <br><br>
  <ul>
  {% for comment in comments %}
    <li class='font4'>
      {{ comment.content }} - {{ comment.user }} ({{ comment.updated_at }})
        {% if user == comment.user %}
          <form action="{% url 'community:delete_comment' review.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button class="btn btn-outline-default btn-sm" style="color:#E73D3D;">
              <i class="fas fa-eraser fa-sm" ></i>
            </button>
          </form>
        {% endif %}
    </li>
  {% empty %}
    <li class='font4'>아직 댓글이 없습니다</li>
  {% endfor %}
  </ul>
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:create_comment' review.pk %}" method="POST" class='row'>
      {% csrf_token %}
      <div class='col-10 d-flex font4'>{{ comment_form }}</div>
      <input type="submit" class="btn btn-outline-secondary col-2 font4" value="댓글쓰기">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <br>
  <div class='d-flex justify-content-end'>
    <a href="{% url 'community:index' %}" type='btn' class='btn11 btn mt-3'><span class="font4">목록으로</span></a>
  </div>
{% endblock  %}

{% block script %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const likeForms = document.querySelectorAll('.like-form')
    const URL = 'http://127.0.0.1:8000/community/'

    likeForms.forEach(likeForm => {
      likeForm.addEventListener('submit', event => {
        event.preventDefault()
        const reviewId = event.target.getAttribute('data-review-id')
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN'
        axios.post(URL+`${reviewId}/like/`)
        .then(res => {
          const likeButton = document.querySelector(`#itag`)
          const message = ''
          console.log(res.data.like)
          if (res.data.liked) {
            likeButton.setAttribute('class', 'fa fa-heart')
            likeButton.innerText = ' Cancle'
          } else {
            likeButton.setAttribute('class', 'fa fa-heart-o')
            likeButton.innerText = ' Like'
          }
          const likeCountSpan = document.querySelector(`#like-count-${reviewId}`)
          likeCountSpan.innerText = res.data.likedNum
        })
      })
    })
  </script>
{% endblock script %}