{% extends 'base.html' %}
{% load bootstrap5 %}


{% block content %}
  <br>
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <h1 class='text-center'><i class="fas fa-users" style='color:#4597D8;'></i> Community</h1>
  <div class='fs-5 font4' style='color:#4597D8; text-align:center'>여러분만의 영화 이야기를 우리의 영화 이야기로</div>
  <hr style='border: inset 5px #63C6DB; border-radius: 50px'>
  {% if request.user.is_authenticated %}
    <div class='d-flex justify-content-end'>
      <a class="navbar-brand" href="{% url 'community:create'%}">
        <button type="button" class="btn11 btn mb-4 mt-2">
          <span class="font4">New</span>
        </button>
      </a>
    </div>
  {% else %}
    <div class='d-flex justify-content-end'>
      <a class="navbar-brand" href="{% url 'accounts:login' %}">
        <button type="button" class="btn btn-outline-secondary mb-4 font4">
          회원만 작성 가능합니다.
        </button>
      </a>
    </div>
  {% endif %}

  <table class="table table-striped table-hover" style="margin-top: 10px;">
    <thead>
      <tr class="review-th font4" style="text-align:center">
        <th scope="col" width='8%'>번호</th>
        <th scope="col" width='14%'>분류</th>
        <th scope="col" width='29%'>TITLE</th>
        <th scope="col" width='14%'>Writer</th>
        <th scope="col" width='10%'>Like</th>
        <th scope="col" width='25%'>작성일</th>
      </tr>
    </thead>
    <tbody>

    {% for review in reviews %}
      <tr class="review-td font4" style="text-align:center">
        <td>{{ review.pk }}</td>
        <td>{{ review.classification }}</td>
        <td style="text-align:left"><a href="{% url 'community:detail' review.pk %}" style='text-decoration:none; color: #008C8C;'>{{ review.title|truncatechars:32 }}</a></td>
        <td><a href="{% url 'accounts:profile' review.user.username %}" style='text-decoration:none; color: #5F9EA0;'>{{ review.user }}</a></td>
        <td><i class="fa fa-heart" style='color:#4597D8;'>&nbsp;{{ review.like_users.all|length }}</i></td>
        <td>{{ review.created_at }}</td>
      </tr>
    {% endfor %} 
    </tbody>
  </table>

  <div class= "d-flex justify-content-center font4" style="pagination-active-color: #1355f6; color : #1355f6;">
    {% bootstrap_pagination reviews %}
  </div>
  
  <style>

  </style>
{% endblock %}