{% extends 'base.html' %}

{% block content %}
  <br>
  <h1><i class="fas fa-pencil-alt" style='color:skyblue'></i> Share your movie story. - UPDATE</h1>
  <hr style='border: inset 5px #63C6DB; border-radius: 50px'>
  <br>
  <div class='row my-3 font4'>
    <form action="{% url 'community:update' review.pk %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" type='btn' class='btn btn-outline-dark mb-4' value="수정">
    </form>
    <hr>
    <div class='d-flex justify-content-end'>
      <a href="{% url 'community:index' %}" type='btn' class='btn11 btn mt-3'><span class="font4">목록으로</span></a>
    </div>
  </div>
{% endblock content %}