{% extends 'base.html' %}

{% block content %}
  <br><br>
  <h2 class='font4'>{{ person.username }}'s Profile</h2>
  <hr style='border: inset 5px #63C6DB; border-radius: 50px'>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div class='font4'>
      <div id="follow-count-{{ person.pk }}">
        팔로잉 : {{ followings|length }} / 팔로워 : {{ followers|length }}
      </div>
      {% if request.user != person %}
        <div>
          <form class="follow-form", data-user-id="{{ person.pk }}">
            {% csrf_token %}
            <br>
            {% if request.user in followers %}
              <button id="followBtn" class='btn btn-outline-primary'>언팔로우</button>
            {% else %}
              <button id="followBtn" class='btn btn-outline-danger'>팔로우</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
  {% endwith %}

  <br>
  <hr>
  <h3 class='font4'><i class="fas fa-archive"></i> My movie story.</h3>
  <table class="table table-striped table-hover font4">
    <thead>
      <tr class="review-th" style="text-align:center">
        <th>분류</th>
        <th>TITLE</th>
        <th>작성일</th>
      </tr>
    </thead>
    <tbody>
      {% for review in person.review_set.all %}
      <tr class="review-td" style="text-align:center">
        <td>{{ review.classification }}</td>
        <td><a href="{% url 'community:detail' review.pk %}" style='text-decoration:none; color: #008C8C;'>{{ review.title }}</td>
        <td>{{ review.created_at|date:'y년 m월 d일' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  


{% endblock content %}

{% block script %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('.follow-form')
    const URL = 'http://127.0.0.1:8000/accounts/'

    form.addEventListener('submit', event => {
      event.preventDefault()
      const userID = event.target.getAttribute('data-user-id')
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN'
      axios.post(URL+`${userID}/follow/`)
      .then(response => {
        if (response.data.isFollowed) {
          followBtn.setAttribute('class', 'btn btn-outline-primary')
          followBtn.innerText = '언팔로우'
        } else {
          followBtn.setAttribute('class', 'btn btn-outline-danger')
          followBtn.innerText = '팔로우'
        }
        const followCount = document.querySelector(`#follow-count-${userID}`)
        const followings_count = response.data.followings_count
        const followers_count = response.data.followers_count
        followCount.innerText = `팔로잉 수 : ${followings_count} / 팔로워 수 : ${followers_count}`
      })
    })
  </script>
{% endblock script %}